@font-face {
  font-family: 'montserratMedium';
  src:  url('../fonts/montserrat-medium_0.eot') format('embedded-opentype'),
  url('../fonts/montserrat-medium_0.woff') format('woff');
}

@font-face {
  font-family: 'montserratRegular';
  src: url('../fonts/montserrat-regular_0.eot') format('embedded-opentype'),
  url('../fonts/montserrat-regular_0.woff') format('woff');
}

@font-face {
  font-family: 'montserratSemiBold';
  src:  url('../fonts/montserrat-semibold_0.eot') format('embedded-opentype'),
  url('../fonts/montserrat-semibold_0.woff') format('woff');
}

@font-face {
  font-family: 'mpRegular';
  src: url('../fonts/mpRegular.otf') format('truetype');
}

@font-face {
  font-family: 'notosansRegular';
  src:  url('../fonts/notosans-regular.eot') format('embedded-opentype'),
  url('../fonts/notosans-regular.woff') format('woff');
}

@font-face {
  font-family: 'notosansSemiBold';
  src:  url('../fonts/notosans-semibold.eot') format('embedded-opentype'),
  url('../fonts/notosans-semibold.woff') format('woff');
}
