$colorMain: #f60;
$colorFontMain: #5a5a5a;

.introduce {
  background-image: url(../imgs/leaf-nature-green-spring-122429.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo--introduce {
  margin-left: prop(100);
  margin-bottom: 80px;

  @include respond-to(sm) {
    margin: 20px;
  }

  @include respond-to(xs) {
    width: prop(400);
    margin-top: 20px;
  }
}

.content--introduce {
  text-align: center;
  margin-bottom: 110px;

  @include respond-to(sm) {
    margin-bottom: 0px;
  }
}

.title--introduce {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 60px;
  font-family: montserratSemiBold;
  padding: 0px prop(250);

  @include respond-to(sm) {
    margin: 0px prop(30);
    padding: 10px 20px;
  }

  @include respond-to(xs) {
    font-size: 45px;
  }
}

.describe--introduce {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 27px;
  font-family: montserratRegular;
  padding: 0px prop(550);
  color: #ffffff;

  @include respond-to(sm) {
    margin-bottom: 100px;
    padding: 0px prop(250);
  }

  @include respond-to(md) {
    margin-bottom: 100px;
    padding: 0px prop(250);
  }

  @include respond-to(xs) {
    padding: 0px prop(400);
  }
}

.div--logo {
  @include respond-to(xs) {
    text-align: center;
  }
}

.subtitle-introduce {
  @include respond-to(xs) {
    width: 375px;
  }
}

.img__logo--main {
  margin-top: 45px;
  margin-bottom: 45px;

  @include respond-to(xs) {
    margin-bottom: 0;
  }
}

.box--intro {
  position: relative;
}

.box--content {
  display: inline-block;
  width: 370px;
  height: 160px;
  background-color: $colorMain;
  color: #fff;
  z-index: 999;

  @include respond-to(xs) {
    width: 100%;
  }

  h1 {
    margin-top: 45px;
    font-size: 24px;

    @include respond-to(xs) {
      margin-top: 40px;
    }
  }

  span {
    display: inline-block;
    margin-top: 5px;
    font-size: 60px;
  }
}

.box--border {
  position: absolute;
  top: -25px;
  right: 360px;
  width: 370px;
  height: 160px;
  border: 2px solid $colorMain;
  z-index: 0;
}

.header__content {
  font-size: 18px;

  @include respond-to(xs) {
    font-size: 16px;
  }

  p {
    margin-top: 20px;
    margin-bottom: 0;
    color: $colorFontMain;

    @include respond-to(xs) {
      margin-top: 40px;
    }
  }
}

.title {
  color: $colorFontMain;
  font-size: 24px;

  @include respond-to(xs) {
    font-size: 18px;
  }

  span {
    display: inline-block;
    margin-top: 10px;
    font-size: 48px;

    @include respond-to(xs) {
      font-size: 25px;
    }
  }
}

.title--orange {
  color: $colorMain !important;
}

.title--hr {
  margin: 30px auto 50px;
  width: 60px;
  height: 2px;
  background-color: #6d645f;

  @include respond-to(xs) {
    margin: 10px auto 15px;
  }
}

.list {
  li {
    margin-bottom: 30px;

    @include respond-to(xs) {
      margin-bottom: 5px;
    }
  }
}

.list__img {
  display: inline-block;
  width: 80px;
  text-align: center;
  vertical-align: middle;
}

.list__content {
  color: $colorFontMain;
  font-size: 24px;

  @include respond-to(xs) {
    font-size: 18px;
  }

  @include respond-to(sm) {
    font-size: 20px;
  }
}

.flex--3col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.flex__item {
  width: 300px;
  height: 300px;
  padding: 20px;
  border: 1px solid #ff6600;
  color: $colorFontMain;

  @include respond-to(xs) {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 5px auto;
  }

  @include respond-to(sm) {
    margin: 0 auto 30px auto;
    padding: 15px;
  }

  h3 {
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 36px;

    @include respond-to(xs) {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 22px;
    }
  }

  p {
    font-size: 22px;

    @include respond-to(xs) {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
}

.box--tks {
  padding: 50px 0;
  margin-bottom: 80px;
  border: 2px solid $colorMain;
  color: $colorMain;

  @include respond-to(xs) {
    margin-bottom: 50px;
  }
}

.box--tks-p {
  font-size: 24px;

  @include respond-to(xs) {
    font-size: 18px;
  }
}

.box--tks-h {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;

  @include respond-to(xs) {
    font-size: 35px;
  }
}

.info {
  padding-bottom: 80px;
  color: $colorFontMain;
  font-size: 18px;
  p {
    margin-bottom: 3px;
  }

  a {
    color: $colorFontMain;
  }

  em {
    margin-bottom: 3px;
  }
}

.fp-tooltip {
  color: #333 !important;
}

.box__btn {
  position: fixed;
  bottom: 25px;
  right: 30px;
}

.btn__signin {
  padding: 15px 30px 10px 30px;
  background-color: #fff;
  border: 2px solid $colorMain;
  box-shadow: 15px -15px 0px 0px rgba(255,102,0,1);
  color: $colorMain;
  font-size: 25px;

  @include respond-to(xs) {
    font-size: 14px;
    box-shadow: 5px -5px 0px 0px rgba(255,102,0,1);
  }

  @include respond-to(sm) {
    font-size: 20px;
  }

  &:hover {
    background-color: $colorMain;
    color: #fff;
    text-decoration: none;
    box-shadow: 5px -5px 0px 0px #fff ;
  }
}

hr {
  margin: 50px 0;

  @include respond-to(xs) {
    margin: 30px 0;
  }
}

.container {
  @include respond-to(md) {
    margin-bottom: 110px;
  }
}
